type secmem_device, dev_type;
type ir_device, dev_type;
type env_device, dev_type;
type bootloader_device, dev_type;
type defendkey_device, dev_type;
type dtb_device, dev_type;
type dvb_device, dev_type;
type cec_device, dev_type;
type physical_block_device, dev_type;

type param_tv_device, dev_type;
type param_block_device, dev_type;
type cri_block_device, dev_type;
type sda_block_device, dev_type;
type vold_block_device, dev_type;
type drm_block_device, dev_type;