# Types extracted from seapp_contexts type= fields.
allow installd { media_data_file }:dir { create_dir_perms relabelfrom relabelto };
allow installd { media_data_file }:lnk_file { create setattr getattr unlink rename relabelfrom relabelto };
allow installd { media_data_file }:{ file sock_file fifo_file } { getattr unlink rename relabelfrom relabelto setattr };

allow installd media_data_file:dir { getattr read write open search setattr rmdir add_name relabelfrom relabelto};
