allow mediaserver system_server:unix_stream_socket { read write setopt };
# media.* props
allow mediaserver media_prop:property_service set;
allow mediaserver system_server:dir search;
# /dev/uio0 for amadec
allow mediaserver uio_device:chr_file rw_file_perms;
# read app /proc/pid/
allow mediaserver appdomain:dir { getattr search };
allow mediaserver appdomain:file { r_file_perms };

allow mediaserver graphics_device:dir r_dir_perms;
allow mediaserver graphics_device:chr_file rw_file_perms;
allow mediaserver mediaserver:netlink_kobject_uevent_socket {create bind read shutdown};
allow mediaserver system_data_file:dir {write add_name};
allow mediaserver sysfs_xbmc:file {open read write};
allow mediaserver system_file:file execmod;
allow mediaserver screenmediasource_service:service_manager add;
allow mediaserver system_control_service:service_manager find;
allow mediaserver media_data_file:lnk_file  {create open read write};
allow mediaserver drm_device:chr_file  {open read write ioctl};
