# Point to Point Protocol daemon
type ppp_system_file, file_type;

allow ppp mtp:socket rw_socket_perms;
allow ppp mtp:unix_dgram_socket rw_socket_perms;
allow ppp ppp_device:chr_file rw_file_perms;
allow ppp self:capability net_admin;
allow ppp system_file:file rx_file_perms;
allow ppp vpn_data_file:dir w_dir_perms;
allow ppp vpn_data_file:file create_file_perms;
allow ppp mtp:fd use;
allow ppp ppp_system_file:dir { write search setattr create add_name mounton create_dir_perms };
allow ppp ppp_system_file:file create_file_perms;
