# Point to Point Protocol daemon
type sh, domain;
type sh_device, dev_type;
type sh_exec, exec_type, file_type;

domain_auto_trans(ppp, sh_exec, sh)

init_daemon_domain(ppp)
net_domain(ppp)

allow ppp mtp:socket rw_socket_perms;
allow ppp mtp:unix_dgram_socket rw_socket_perms;
allow ppp ppp_device:chr_file rw_file_perms;
allow ppp ppp_device:file { rw_file_perms x_file_perms };
allow ppp ppp_device:dir { rw_file_perms search };
allow ppp self:capability { dac_override net_admin net_raw setgid setuid };
allow ppp system_file:file rx_file_perms;
allow ppp system_file:dir  r_file_perms;
allow ppp system_data_file:dir  rw_file_perms;
allow ppp system_data_file:fifo_file  rw_file_perms;
allow ppp vpn_data_file:dir w_dir_perms;
allow ppp vpn_data_file:file create_file_perms;
allow ppp mtp:fd use;

allow ppp shell_exec:file rx_file_perms;
allow ppp property_socket:sock_file write;
allow ppp radio_prop:property_service set;
allow ppp system_prop:property_service set;
allow ppp net_radio_prop:property_service set;
allow ppp init:unix_stream_socket connectto;

allow ppp radio_device:chr_file rw_file_perms;
allow ppp radio_device:file { rw_file_perms link unlink };
allow ppp radio_data_file:file rw_file_perms;
allow ppp unlabeled:filesystem { associate };
allow ppp ppp_exec:file rx_file_perms;
allow ppp device:file create_file_perms;
allow ppp device:lnk_file create_file_perms;
allow ppp device:dir { create_file_perms add_name };

allow sh shell_exec:file rx_file_perms;
allow sh system_file:file rx_file_perms;
allow sh ppp_exec:file rx_file_perms;
allow sh radio_device:file { rw_file_perms link unlink };
